# Dependencies
**/node_modules/
backend/node_modules/
mobile/node_modules/

# Environment Variables
.env
backend/.env
mobile/.env

# Expo / Mobile folders
mobile/.expo/
mobile/web-build/
mobile/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel / Build outputs
.vercel
build/
dist/

# OS files
.DS_Store
Thumbs.db
