PORT=5000
MONGODB_URI=mongodb+srv://officialrahul2111067_db_user:2jqf1oVfLr46js0I@cluster0.l7rux5f.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
GEMINI_API_KEY=AIzaSyCGPmWPEd61QDwgIbQamX3HNMCW4zyex5Q
